.dialog-box{
    padding: 5%;
}
.text-uppercase{
    text-decoration:none !important; 
    font-weight: 600;
}
.collapse{
    margin-left: 10px;
    margin-top: 5px;
}
.whd{
    width: 180px !important;
}
.mg-lf{
    margin-left: 1px;
}
.mg-top{
    margin-top: -4px ;
}
.green{
    background-color: #7ec78a;
}